@import "../../src/utility/pallete.css";
@import "../../src/css/elements.css";
@import "../../src/css/global.css";
@import "../../src/css/footer.css";


.second-section {
	display: flex;
	flex-direction: column;
	row-gap: 60px;
	position: relative;
	margin: 190px 65px 0;
	padding: 65px 80px 100px;
	background-color: var(--white1);
	border-radius: 8px;
	border: 1px solid #D1D1D1;
}

.second-section-span-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: VazirFd, serif;
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
	color: var(--black2)
}

.second-section-image-1 {
	position: absolute;
	z-index: -100;
	bottom: -80px;
	width: 90%;
	right: 30px;
	max-height: 100%
}

.second-section-paragraph-1 {
	font-weight: 600;
	font-size: 19px;
	line-height: 65px;
	text-align: justify-all;
	color: var(--gray1)
}

.second-section-container-1 {
	display: flex;
	align-items: center;
	justify-content: start;
	column-gap: 50px;

}

.second-section-span-active {
	color: #54BAB9;
}

.second-section-image-2 {
	position: absolute;
	transform: rotate(90deg);
	width: 230px;
	left: calc(50% - 115px);
	top: -180px;
	z-index: -1;
}

.second-section-image-3 {
	position: absolute;
	transform: rotate(270deg);
	width: 230px;
	left: calc(50% - 115px);
	bottom: -190px;
	z-index: -1;
}

.second-section-span-active-line {
	display: block;
	width: 90%;
	height: 2px;
	margin-top: 7px;
	visibility: hidden;
	background-color: #54BAB9;
}

.second-section-title-1, .third-section-title-1 {
	font-family: VazirFd, serif;
	font-weight: 700;
	font-size: 28px;
	color: var(--black2)
}

.second-section-span-active .second-section-span-active-line {
	visibility: visible
}


.third-section {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	width: 100%;
	position: relative;
}

.third-section-container-1 {
	display: flex;
	justify-content: space-around;
	position: absolute;
	width: 100%;
	height: calc(100%);
	bottom: -70px;
	z-index: -1;
}

.third-section .global-1-container-2 {
	height: fit-content;
	margin-top: 70px !important;
}

.third-section .global-1-item-span-3 {
	color: #222831

}

.third-section .global-1-item-container-1 {
	background-color: var(--white5);
	background-image: none;
	padding: 20px 22px;
}

.third-section .global-1-item-span-1, .third-section .global-1-item-span-2 {
	color: #222831
}

.third-section .global-1-item-button, .third-section .global-1-item-image-3, .third-section .global-1-item-image-2 {
	background-color: #DAB88B;
	color: #FFFFFF;
}

.global-1-container-1:nth-child(2) {
	display: none;
}

@media screen and (max-width: 1400px) {
	.second-section-title-1, .third-section-title-1 {
		font-size: 26px
	}

	.second-section-span-1 {
		font-size: 15px
	}

	.second-section-paragraph-1 {
		font-size: 18px;
		line-height: 62px
	}

	.third-section .global-1-item-container-1 {
		padding: 20px 16px;
	}
}

@media screen and (max-width: 1200px) {
	.third-section .global-1-item-container-1 {
		padding: 16px 12px;
	}
}

@media screen and (max-width: 992px) {
	.second-section {
		margin: 80px 60px 0 40px;
		padding: 50px 35px 100px;
	}

	.second-section-span-1 {
		font-size: 13px;
	}

	.second-section-paragraph-1 {
		font-size: 14px;
		line-height: 45px;
	}

	.second-section-image-2, .second-section-image-3 {
		width: 200px;
		left: calc(50% - 100px);
	}

	.second-section-image-2 {
		top: -150px;
	}

	.second-section-image-3 {
		bottom: -150px;
	}


	.third-section-container-4 {
		column-gap: 10px
	}

	.third-section-span-1 {
		font-size: 17px
	}

	.third-section-button-1 {
		width: 128px;
		height: 36px;
		font-size: 15px
	}

	.third-section-paragraph {
		font-size: 15px;
		line-height: 40px
	}

	.third-section {
		background-color: transparent;
		padding: 0;
	}

	.third-section .global-1-container-2 {
		background-color: transparent;
		margin-top: 40px !important;
	}

	.third-section-container-1 {
		bottom: -40px;
	}
}

@media screen and (max-width: 768px) {
	.second-section {
		margin: 70px 40px 0 20px;
		padding: 40px 30px 90px;
		row-gap: 40px;
	}

	.second-section-span-1 {
		font-size: 12px;
	}

	.second-section-paragraph-1 {
		font-size: 13px;
		line-height: 38px;
	}

	.second-section-image-2, .second-section-image-3 {
		width: 180px;
		left: calc(50% - 90px);
	}

	.second-section-image-2 {
		top: -120px;
	}

	.second-section-image-3 {
		bottom: -120px;
	}

	.second-section-container-1 {
		column-gap: 40px;
	}


	.third-section-container-3 {
		row-gap: 0;
		margin-right: 130px
	}

	.third-section-container-4 {
		column-gap: 10px
	}

	.third-section-span-1 {
		font-size: 14px
	}

	.third-section-span-2 {
		font-size: 10px
	}

	.third-section-button-1 {
		width: 85px;
		height: 26px;
		font-size: 10px
	}

	.third-section-paragraph {
		font-size: 12px;
		line-height: 30px
	}

	.third-section-image-1 {
		width: 130px;
		padding: 18px 12px 0
	}

	.third-section-image-2 {
		width: 40px;
		right: 118px;
		top: -24px
	}

	.third-section {
		margin-top: 100px
	}

	.third-section .global-1-container-2 {
		margin-top: 30px !important;
	}

	.third-section-container-1 {
		bottom: -30px;
	}

}

@media screen and (max-width: 576px) {
	.second-section {
		margin: 60px 20px 0 10px;
		padding: 35px 25px 60px;
		row-gap: 30px;
	}

	.second-section-span-1 {
		font-size: 11px;
	}

	.second-section-paragraph-1 {
		font-size: 12px;
		line-height: 35px;
	}

	.second-section-image-2, .second-section-image-3 {
		width: 150px;
		left: calc(50% - 75px);
	}

	.second-section-image-2 {
		top: -100px;
	}

	.second-section-image-3 {
		bottom: -100px;
	}

	.second-section-container-1 {
		column-gap: 30px;
	}


	.third-section {
		margin-top: 30px;
	}

	.third-section-container-3 {
		margin-right: 90px
	}

	.third-section-span-1 {
		font-size: 11px
	}

	.third-section-span-2 {
		font-size: 8px
	}

	.third-section-button-1 {
		width: 75px;
		height: 22px;
		font-size: 9px
	}

	.third-section-paragraph {
		font-size: 10px;
		line-height: 25px
	}

	.third-section-image-1 {
		width: 100px;
		padding: 15px 13px 0;
		top: -40px
	}

	.third-section-image-2 {
		width: 40px;
		right: 85px;
		top: -22px
	}

	.third-section {
		margin-top: 90px
	}

	.third-section-container-1 {
		bottom: -20px;
	}
}

@media screen and (max-width: 480px) {
	.second-section {
		padding: 36px 18px 20px;
		margin: 50px 16px 0;
		row-gap: 36px;
		box-shadow: none;
	}

	.second-section-container-2 {
		display: none
	}

	.second-section-title-1 {
		font-size: 14px;
		color: var(--gray6)
	}

	.second-section-container-1 {
		font-weight: 600;
		font-size: 17px;
		color: #3D3D3D;
	}

	.second-section-paragraph-1 {
		font-size: 14px;
		line-height: 38px;
		font-weight: 600;
		color: var(--gray1);
		margin: 0;
	}

	.second-section-container-3 {
		display: flex !important;
		flex-direction: column;
		row-gap: 20px;
		padding: 34px 0 0;
	}

	.second-section-title-2 {
		font-weight: 950;
		font-size: 17px;
		color: var(--gray6)
	}

	.second-section-ul {
		list-style: none;
		font-weight: 600;
		font-size: 17px;
		padding: 20px;
		background: var(--white9);
		border-radius: 9px;
		margin: 0;
	}

	.second-section-ul li {
		padding: 3px 0;
		display: flex;
		align-items: center;
		column-gap: 10px;
	}

	.second-section-ul li div {
		background-color: #54BAB9;
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}


	.third-section {
		margin-top: 70px !important;
		row-gap: 0;
	}

	.third-section .global-1-container-2 {
		padding: 24px 22px 0 12px;
		margin-top: 0 !important;
	}

	.global-1-container-1 + .mobile {
		display: flex;
	!important;
	}

	.third-section .global-1-item-span-1 {
		background-color: #ffffff;
	}

	.third-section .global-1-item-button {
		background-image: url("../../src/assets/icons/shopping-cart3.svg");
	}

	.third-section .global-1-item-container-1 {
		padding: 16px 12px 10px;
		justify-content: space-between;
		height: fit-content;
	}

	.third-section-container-1 {
		bottom: -20px;
	}


	.second-section-image-2, .second-section-image-3, .second-section-container-1 *, .global-1-container-1,
	.third-section-container-1 :nth-child(1), .third-section-container-1 :nth-child(2) {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	.second-section {
		padding: 30px 14px 16px;
		margin: 45px 14px 0;
		row-gap: 20px;
	}

	.second-section-container-1 {
		font-size: 15px;
	}

	.second-section-paragraph-1 {
		font-size: 13px;
		line-height: 34px;
	}

	.second-section-container-3 {
		row-gap: 16px;
		padding: 26px 0 0;
	}

	.second-section-title-2 {
		font-size: 15px;
	}

	.second-section-ul {
		font-size: 15px;
	}

	.second-section-ul li {
		padding: 2px 0;
		column-gap: 8px;
	}

	.second-section-ul li div {
		width: 8px;
		height: 8px;
	}


	.third-section {
		margin-top: 60px !important;
	}

	/*	not checked   */
	.third-section .global-1-container-2 {
		padding: 24px 22px 0 12px;
		margin-top: 0 !important;
	}

	.global-1-container-1 + .mobile {
		display: flex;
	!important;
	}

	.third-section .global-1-item-span-1 {
		background-color: #ffffff;
	}

	.third-section .global-1-item-button {
		background-image: url("../../src/assets/icons/shopping-cart3.svg");
	}

	.third-section .global-1-item-container-1 {
		padding: 16px 12px 10px;
		justify-content: space-between;
		height: fit-content;
	}

	.third-section-container-1 {
		bottom: -20px;
	}
}

@media screen and (max-width: 320px) {
	.second-section {
		padding: 25px 12px 14px;
		margin: 40px 12px 0;
		row-gap: 15px;
	}

	.second-section-container-1 {
		font-size: 13px;
	}

	.second-section-paragraph-1 {
		font-size: 11px;
		line-height: 28px;
	}

	.second-section-container-3 {
		row-gap: 12px;
		padding: 20px 0 0;
	}

	.second-section-title-2 {
		font-size: 13px;
	}

	.second-section-ul {
		font-size: 13px;
	}

	.second-section-ul li {
		column-gap: 7px;
	}

	.second-section-ul li div {
		width: 7px;
		height: 7px;
	}


	.third-section {
		margin-top: 50px !important;
	}

	/*	not checked   */
	.third-section .global-1-container-2 {
		padding: 24px 22px 0 12px;
		margin-top: 0 !important;
	}

	.global-1-container-1 + .mobile {
		display: flex;
	}

	.third-section .global-1-item-span-1 {
		background-color: #ffffff;
	}

	.third-section .global-1-item-button {
		background-image: url("../../src/assets/icons/shopping-cart3.svg");
	}

	.third-section .global-1-item-container-1 {
		padding: 16px 12px 10px;
		justify-content: space-between;
		height: fit-content;
	}

	.third-section-container-1 {
		bottom: -20px;
	}
}