footer {
	position: relative
}

.footer-container-1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 100px;
	height: 100px;
	padding: 0 60px;
	color: var(--white1);
	background-color: #54BAB9
}

.footer-container-2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1
}

.footer-container-3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 430px;
	position: relative;
	padding: 45px 85px 60px 66px;
	color: var(--gray3);
	background-color: var(--white13)
}

.footer-container-4 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	height: 100%;
	padding-top: 10px
}

.footer-container-5 {
	display: flex;
	align-items: center;
	column-gap: 20px
}

.footer-container-6 {
	display: flex;
	flex-direction: column;
	row-gap: 5px
}

.footer-container-7 {
	display: flex;
	flex-direction: column;
	row-gap: 10px
}

.footer-container-8 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%
}

.footer-container-9 {
	display: flex;
	justify-content: space-between;
	align-items: end;
	column-gap: 100px
}

.footer-container-10 {
	display: flex;
	justify-content: space-between
}

.footer-container-11 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	font-weight: 500;
	font-size: 16px;
	border-top: solid 4px #54BAB9;
	color: var(--white1);
	background-color: var(--gray2)
}

.footer-title-1 {
	font-weight: 950;
	font-size: 28px
}

.footer-title-2 {
	font-weight: 700;
	font-size: 32px;
	color: #54BAB9
}

.footer-title-3 {
	font-weight: 600;
	font-size: 20px;
	color: var(--white4)
}

.footer-item-1-container-1 {
	display: flex;
	align-items: start;
	column-gap: 12px
}

.footer-item-1-container-2 {
	display: flex;
	flex-direction: column;
	margin-top: 5px
}

.footer-item-1-span-1 {
	font-weight: 700;
	font-size: 18px
}

.footer-item-1-span-2 {
	font-weight: 500;
	font-size: 14px
}

.footer-item-2-container-1 {
	display: flex;
	flex-direction: column;
	row-gap: 5px
}

.footer-item-2-title {
	font-weight: 700;
	font-size: 33px
}

.footer-item-2-ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.footer-item-2-li {
	font-weight: 600;
	font-size: 18px;
	padding: 3px 0;
	color: var(--gray13);
	cursor: pointer
}

.footer-span-1, .footer-span-2 {
	font-weight: 600;
	font-size: 18px;
	color: var(--gray13)
}

.footer-span-3 {
	margin-right: 12px;
	font-size: 17px
}

.footer-image-1 {
	width: 65px
}

.footer-image-2 {
	width: 131px;
	padding: 20px;
	border-radius: 16px;
	background-color: var(--white1)
}

.footer-image-2:nth-last-child(1) {
	order: 3
}

.design-image-7 {
	position: absolute;
	transform: rotate(-270deg);
	height: 170px;
	top: -74px;
	right: 112px
}

.footer-line-1, .footer-span-4, .footer-title-4 {
	display: none
}

@media screen and (max-width: 1400px) {
	.footer-container-5 {
		column-gap: 15px
	}

	.footer-container-7 {
		display: flex;
		flex-direction: column;
		row-gap: 10px
	}

	.footer-container-9 {
		column-gap: 90px
	}

	.footer-container-11 {
		height: 70px;
		font-size: 14px
	}

	.footer-title-1 {
		font-size: 26px
	}

	.footer-title-2 {
		font-size: 30px
	}

	.footer-title-3 {
		font-size: 18px
	}

	.footer-item-1-container-1 {
		column-gap: 10px
	}

	.footer-item-1-span-1 {
		font-size: 17px
	}

	.footer-item-1-span-2 {
		font-size: 12px
	}

	.footer-item-2-title {
		font-size: 30px
	}

	.footer-item-2-li {
		font-size: 16px
	}

	.footer-span-1, .footer-span-2 {
		font-size: 16px
	}

	.footer-span-3 {
		font-size: 13px
	}

	.footer-image-1 {
		width: 80px
	}

	.footer-image-2 {
		width: 115px;
		padding: 15px
	}
}

@media screen and (max-width: 992px) {
	.footer-container-1 {
		height: 55px;
		padding: 0 30px
	}

	.footer-container-3 {
		height: 300px;
		padding: 25px 50px 40px 40px
	}

	.footer-container-5 {
		column-gap: 10px
	}

	.footer-container-8 {
		row-gap: 20px
	}

	.footer-container-9 {
		column-gap: 40px
	}

	.footer-container-11 {
		height: 50px;
		font-size: 10px
	}

	.footer-title-1 {
		font-size: 18px
	}

	.footer-title-2 {
		font-size: 22px
	}

	.footer-title-3 {
		font-size: 14px
	}

	.footer-item-1-container-1 {
		column-gap: 5px
	}

	.footer-item-1-icon {
		width: 25px
	}

	.footer-item-1-span-1 {
		font-size: 12px
	}

	.footer-item-1-span-2 {
		font-size: 8px
	}

	.footer-item-2-title {
		font-size: 22px
	}

	.footer-item-2-li {
		font-size: 14px
	}

	.footer-span-1, .footer-span-2 {
		font-size: 13px
	}

	.footer-span-3 {
		font-size: 10px
	}

	.footer-image-1 {
		width: 50px
	}

	.footer-image-2 {
		width: 75px
	}

	.design-image-7 {
		height: 130px;
		top: -56px;
		right: 65px
	}
}

@media screen and (max-width: 768px) {
	.footer-container-1 {
		padding: 0 15px
	}

	.footer-container-3 {
		height: 270px;
		padding: 25px 40px 40px 30px
	}

	.footer-container-11 {
		height: 40px;
		font-size: 9px
	}

	.footer-title-1 {
		font-size: 14px
	}

	.footer-title-2 {
		font-size: 18px
	}

	.footer-title-3 {
		font-size: 12px
	}

	.footer-item-1-container-1 {
		column-gap: 2px
	}

	.footer-item-1-icon {
		width: 18px
	}

	.footer-item-1-span-1 {
		font-size: 10px
	}

	.footer-item-1-span-2 {
		font-size: 7px
	}

	.footer-item-2-title {
		font-size: 15px
	}

	.footer-item-2-li {
		font-size: 12px
	}

	.footer-span-1, .footer-span-2 {
		font-size: 10px
	}

	.footer-span-3 {
		font-size: 9px
	}

	.footer-image-1 {
		width: 40px
	}

	.footer-image-2 {
		width: 57px
	}

	.design-image-7 {
		height: 110px;
		top: -47px;
		right: 52px
	}
}

@media screen and (max-width: 576px) {
	.footer-container-1 {
		column-gap: 30px
	}
}

@media screen and (max-width: 480px) {
	.footer-container-2 {
		justify-content: space-around
	}

	.footer-container-3 {
		flex-direction: column;
		height: fit-content;
		padding: 40px 15px 25px
	}

	.footer-container-4 {
		width: 100%;
		padding: 0 20px 20px;
		row-gap: 20px
	}

	.footer-container-6 {
		row-gap: 0;
		justify-content: center
	}

	.footer-container-8 {
		row-gap: 20px;
		width: 100%;
		padding: 20px 0
	}

	.footer-container-9 {
		flex-direction: row-reverse;
		justify-content: start;
		column-gap: 100px;
		padding: 0 12px
	}

	.footer-container-10 {
		column-gap: 10px;
		flex-wrap: wrap;
		padding: 0 12px
	}

	.footer-container-11 {
		height: 55px;
		font-size: 10px;
		font-weight: 600;
		border-top: 5px solid #54BAB9;
	}

	.footer-line-1 {
		align-self: center;
		display: block;
		height: 1px;
		width: calc(100% - 30px);
		margin: 10px 0;
		background-color: var(--white7)
	}

	.footer-title-3 {
		font-size: 14px
	}

	.footer-title-4 {
		display: block;
		width: 100%;
		font-weight: 900;
		color: var(--gray3)
	}

	.footer-span-4 {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		font-weight: 600;
		font-size: 12px;
		color: var(--gray13)
	}

	.footer-item-1-icon {
		width: 35px
	}

	.footer-item-1-container-1 {
		column-gap: 10px
	}

	.footer-item-1-span-1 {
		font-size: 13px
	}

	.footer-item-1-span-2 {
		font-size: 10px
	}

	.footer-item-2-title {
		font-size: 20px;
		font-weight: 900;
		margin-bottom: 10px
	}

	.footer-item-2-li {
		font-size: 14px
	}

	.footer-span-1, .footer-span-2 {
		font-size: 12px
	}

	.footer-span-3 {
		font-size: 10px
	}

	.footer-image-1 {
		width: 50px
	}

	.footer-image-2 {
		padding: 20px;
		display: inline;
		flex-grow: 1
	}

	.footer-image-2:nth-last-child(3) {
		order: 2
	}

	.design-image-7, .footer-item-1-container-1:nth-child(even), .footer-title-1 {
		display: none
	}
}

@media screen and (max-width: 400px) {
	.footer-container-4 {
		padding: 0 5px 20px;
		row-gap: 20px
	}

	.footer-container-9 {
		justify-content: space-between;
		column-gap: 0;
		padding: 0 5px
	}

	.footer-container-10 {
		column-gap: 10px;
		padding: 0 5px
	}

	.footer-title-2 {
		font-size: 16px
	}

	.footer-title-3 {
		font-size: 12px
	}

	.footer-title-4 {
		font-size: 16px
	}

	.footer-span-1, .footer-span-2 {
		font-size: 10px
	}

	.footer-span-3 {
		font-size: 9px
	}

	.footer-item-2-title {
		font-size: 17px;
		margin-bottom: 0
	}

	.footer-item-1-span-1 {
		font-size: 12px
	}

	.footer-item-1-span-2 {
		font-size: 9px
	}

	.footer-item-1-icon {
		width: 25px
	}

	.footer-item-2-li {
		font-size: 12px
	}

	.footer-image-1 {
		width: 40px
	}

	.footer-image-2 {
		padding: 15px
	}
}